* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../home-bg.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    text-decoration: underline;
    color: #f9004d;
}

nav ul{
    margin-top: -15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px blod transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.newslatter form input:last-child:hover {
    transform: scale(0.92);
    transition: .4s;
    cursor: pointer;
}

/*About me section*/

.About {
    width: 100%;
    padding: 50px 0px;
    background-color: #191919;
}

.About img {
    height: auto;
    width: 430px;
    border-radius: 50px;
}

.About-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*service section*/

.service {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
    height: 600px;
}

.title h2 {
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 18px auto;
    margin-top: -65px;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 422px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

/*contact me section*/

.Contact-me {
    width: 100%;
    height: 555px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact_title{
    float: left;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: -20px;
}

/* --------------------- Social media icons START --------------------- */

.card_Social {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #101010;
    padding: 15px 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    border-radius: 10px;
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    margin-bottom: 15px;
    border-radius: 10px ;
    font-size: 25px;
  }

  .containerFour{
    margin-bottom: 0px;
  }

  .containerTwo .fa-brands{
    margin-left: -7px;
  }

  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* telegram*/
  .containerTwo:hover {
    background-color: rgb(39, 167, 231);
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0A66C2;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .fa-brands {
    width: 17px;
    color: white;
    margin-left: -5px;
  }
  
  .fa-brands path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .fa-brands {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
/* ------------------------------------ Social media icons END -----------------------------------------*/  

/* -------------------------------------- Contact Details START -------------------------------------- */

.contact_details{
    float: right;
    margin-right: 60px;
    margin-top: 80px;
}

.symbol{
    margin-left: 40px;
    margin-top: -20px;
}

.info{
    margin-top: -45px;
}

.contact_item{
    margin-bottom: 50px;
}


/* -------------------------------------- Contact Details END -------------------------------------- */

/* -------------------------------------- Contact Form START -------------------------------------- */

.contact_form{
    float: right;
    margin-right: 60px;
    margin-top: 50px;
}

.input_control_1_1{
    float: left;
    width: 290px;
    margin-bottom: 15px;
    height: 35px;
    background-color: #101010;
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 1em;
}

.input_control_1_2{
    float: right;
    width: 290px;
    margin-bottom: 15px;
    height: 35px;
    background-color: #101010;
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 1em;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #101010 inset !important;
    -webkit-text-fill-color: white;
    caret-color: white;
} 

.input_control_2_1{
    width: 600px;
    height: 35px;
    background-color: #101010;
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 1em;
}

.input_control_2_2{
    width: 600px;
    background-color: #101010;
    border: 1px solid #101010;
    border-radius: 5px;
    padding: 1em;
}

.form_input{
    margin-bottom: 15px;
}

/* -------------------------------------- Contact Form END -------------------------------------- */


/* footer section */

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end {
    text-decoration: underline;
    position: absolute;
    color: #f9004d;
    margin-bottom: 5px;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

/* ----------- for responsive web ---------------------- */

/* 2xl */
@media (max-width: 1536px) {

}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {
    h2{
        color: #f9004d;
    }
}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {

}
